@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model mobileApp.Pages.AwsModel
@{
    ViewData["Title"] = "Get User Token From PostgreSql";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form method="post">
    UserId:
    <input asp-for="_userId" />
    <input type="submit" />
    @Html.AntiForgeryToken()
</form>

<br />


@if (ViewData["AwsKey"] != null)
{
    <p>@ViewData["AwsKey"]</p>
}

