@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PoliticalModel
@{
    ViewData["Title"] = "Subscribed Political News";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">


    @if (ViewData["political"] != null)
    {
        var i = 0;
        foreach (var data in (IEnumerable<string>)ViewData["political"])
        {
            i++;

            if (data.Contains("Redis"))
            {
                <p style="background-color:mediumslateblue">@i  @data</p>
            }
            else
            {
                <p style="background-color:lightcyan">@i  @data</p>
            }

        }
    }

    @Html.AntiForgeryToken()

</div>

