@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model UserDetailsModel
@{
    ViewData["Title"] = "Get User Token";
}

<h1>@ViewData["Title"]</h1>

<hr />

<form method="post">

    State Store Type :
    <select asp-for="SelectedStateType" asp-items="Model.StateLst">
        <option value=""></option>
    </select>
    &nbsp;
    UserId:
    <input asp-for="_userId" />
    &nbsp;
    <input type="submit" />
    @Html.AntiForgeryToken()
</form>

<br />


@if (ViewData["Key"] != null)
{
    <p style="color:red"><b>@ViewData["Key"]</b></p>
}
