@page
@model WebApp.Pages.AWSModel
@{
    ViewData["Title"] = "State store in PostgreSql";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>State Store ---> [ PostgreSql ]</p>

<hr />
<p>User Token</p>
<form method="post">
    UserId --> Key:
    <input asp-for="_user.Key" />
    User Token --> Value:
    <input asp-for="_user.Value" />
    <input type="submit" />
</form>

<br />
@if (ViewData["AWSKey"] != null)
{
    <p style="color:red">@ViewData["AWSKey"]</p>
}

