@page
@model WebApp.Pages.AzureModel
@{
    ViewData["Title"] = "Sate store in Azure SQL Server using Dapr";
}
<h1>@ViewData["Title"]</h1>

<hr />
<p>State Store ---> [ Azure SQL Server ]</p>

<hr />
<p>User Token</p>
<form method="post">
    UserId --> Key:
    <input asp-for="_user.Key" />
    User Token --> Value:
    <input asp-for="_user.Value" />
    <input type="submit" />
</form>

<br />
@if (ViewData["AzureKey"] != null)
{
    <p style="color:red">@ViewData["AzureKey"]</p>
}
