@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model WebApp.Pages.PubSubModel
@{
    ViewData["Title"] = "Pub/Sub in Dapr";
}

<h1>@ViewData["Title"]</h1>

<hr />
<p>Pub/Sub ---> [ Redis, RabbitMQ ]</p>

<hr />
<p> Dapr Api :</p>
 rabbitmq  -->  </>
<b> http://webapi-dapr:3500/v1.0/publish/pubsub/sports </b>
<br />

 redis  -->  </>
<b> http://webapi-dapr:3500/v1.0/publish/pubsubredis/sports </b>
<br />
<hr />

<form method="post">

    Message broker Type :
    <select asp-for="SelectedMB" asp-items="Model.MB">
        <option value=""></option>
    </select>
    &nbsp;
    News Type :
    <select asp-for="SelectedNewsType" asp-items="Model.Staff">
        <option value=""></option>
    </select>
    &nbsp;
    @*News Type:
        <input asp-for="_news.NewsType" />*@
    News Content :
    <input asp-for="_news.NewsContent" />
    <input type="submit" value="Publish" />
    @Html.AntiForgeryToken()

</form>

<br />

@if (ViewData["msg"] != null)
{
    <p style="color:red"><b>@ViewData["msg"]</b></p>
}
